.myInput {
    border: 1px solid #EFF0F6;
    border-radius: 30px;
    padding: .4rem 1rem;
    width: 100%;
    color: #662D91;
    font-weight: 500;
}

.myInput::placeholder {
    color: rgba(102, 45, 145, 0.6);
}