@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap');


@layer components {
  .mySubtitle {
    @apply font-bold text-[clamp(2rem,_3.3vw,_3.2rem)] text-[#662D91];
  }
  .we-do {
    @apply text-[rgba(71,_18,_128,_0.6)] text-[clamp(1rem,_2.5vw,_3rem)];
  }
  a {
    @apply transition hover:text-[rgba(102,_45,_145,_0.6)]
  }
  input, textarea {
    @apply outline-[#662D91]
  }
}

/* a {
  position: relative;
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #662D91;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a:active::before {
  transform: scale(1);
} */


*,
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:focus {
  outline: none;
}

html, body {
  overflow-x: hidden;
  font-family: 'Mulish', sans-serif;
}

/* body {
  overflow-y: hidden;
} */

.myWrapper {
  width: 90%;
  margin: 0 auto;
}

.mySwiper {
  position: relative;
}

.swiper-button-next {
  position: absolute;
  right: 8%!important;
}
.swiper-button-prev {
  position: absolute;
  left: 8%!important;
}
.swiper {
  width: 70%;
  position: static!important;
  padding-bottom: 2rem!important;
}

.videoblog .swiper {
  width: 90%;
  padding: 5rem 0 2rem;
  height: 30vw;
  min-height: 20rem;
}

.videoblog .swiper .swiper-wrapper{
  height: 100%;
}

.videoblog .swiper .swiper-wrapper .swiper-slide {
  height: 100%;
  display: flex!important;
  align-items: center;
  justify-content: center;
  transition: all .3s ease;
  flex-direction: column;
}

.videoblog .swiper .swiper-wrapper .swiper-slide.swiper-slide-active {
  transform: scale(1.4) translateY(-50px);
}



.videoblog .swiper .swiper-wrapper .swiper-slide div {
  display: flex;
  justify-content: center;
  height: 60%;
  width: 80%;
}

.videoblog .swiper .swiper-wrapper .swiper-slide div iframe{
  border-radius: 5px;
}

.videoblog .swiper .swiper-button-next, .videoblog .swiper .swiper-button-prev {
  display: none;
}




