@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap');


@layer components {
  .mySubtitle {
    @apply font-bold text-5xl text-[#662D91];
  }
  .we-do {
    @apply text-[rgba(71,_18,_128,_0.6)] leading-[45px] text-4xl;
  }
}

*,
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  font-family: 'Mulish', sans-serif;
}

.myWrapper {
  width: 90%;
  margin: 0 auto;
}


/* Swiper */
.swiper {
  height: 30vw;
  margin-top: 2rem;
}

.swiper-wrapper {
  margin-left: 4rem;
}

.swiper-slide {
  height: 60%!important;
  /* width: 20%!important; */
  align-self: center!important;
  transition: all .3s ease;
}

.swiper-slide.swiper-slide-active {
  /* align-self: start!important; */
  transform: translateY(-50px) scale(1.2)!important;;
}